Practice/Kaggle/Data/Pokemon TCG/Card_ID List_EN.pdf Practice/Kaggle/Data/Pokemon TCG/Card_ID List_EN_.pdf Practice/Kaggle/Data/Pokemon TCG/Card_ID List_JP.pdf Practice/Kaggle/Data/Pokemon TCG/Card_ID List_JP_.pdf
